@import "antd/dist/antd.css";
@import "./modal.css";
@import "./button.css";
@import "./form.css";
@import "./resume.css";
@import "./table.css";
@import "./notification.css";
@import "./Skeleton.css";

.App {
  text-align: center;  
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.ant-modal-mask{
  background-image:linear-gradient( rgba(240, 236, 233, 0.8) 0%, rgba(240, 238, 238, 0.8) 100%), url('../../public/bg-masthead.jpg') !important;
  background-size: cover;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}
.site-layout .site-layout-background{
  height: 180vh;
  background:linear-gradient( rgba(240, 236, 233, 0.8) 0%, rgba(240, 238, 238, 0.8) 100%), url('../../public/bg-masthead.jpg') !important;

}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-menu-item-icon{
  color: white !important;
}
.ant-menu-title-content,a{
  color: white !important;
}
.logo {
  height: 32px;
  margin:36px 0px 46px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-descriptions-item-container .ant-descriptions-item-label, .ant-descriptions-item-container .ant-descriptions-item-content{
  color: white;  
}



.ant-layout-sider{
  background-color:rgba(255, 8, 179, 0.52);
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
  background: no-repeat;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
  background:#a9c5aa !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0;
}
.ant-drawer-content{
  background: #f0f2f5 !important;
}

.ant-drawer-header{
  background: #f0f2f5 !important;
}
body{
  background: #f0f2f5 !important;
}

/* buttons */

/* Switch */
.ant-switch-checked{
    background:rgba(255, 8, 179, 0.52) !important;
}

.table-td{
  font-family: 'Times New Roman', Times, serif;
  color:#282c34;
}

.color-green{
  color:rgb(219, 84, 84) !important;
}

.color-pink{
  color:rgb(21, 169, 206) !important;
}