.login-modal .ant-modal-close-x{
    display: none !important;
}

.login-modal{
  background: url('https://images.pexels.com/photos/3986956/pexels-photo-3986956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')  !important;
  background-size: cover;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.Signup-modal{
  background: url('https://images.pexels.com/photos/5439137/pexels-photo-5439137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')  !important;
  background-size: cover;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}
