.login-modal .ant-modal-close-x{
    display: none !important;
}
.ant-modal-content{
  background: none !important;
}
.login-modal{
  background-image:linear-gradient( rgba(240, 236, 233, 0.8) 0%, rgba(240, 238, 238, 0.8) 100%), url('../../../public/bg-masthead.jpg') !important;
  background-size: cover;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.Signup-modal{
  background-image:linear-gradient( rgba(240, 236, 233, 0.8) 0%, rgba(240, 238, 238, 0.8) 100%), url('../../../public/bg-masthead.jpg') !important;
  background-size: cover;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}
